/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,
body,
ul,
p,
h3,
h4,
button {
  margin: 0;
  padding: 0;
  border: none;
}

html, body, #content {
  min-height: 100%;
}

body {
	font-family: 'Slabo 27px', serif;
}

li {
  list-style: none;
}

.login-form-container {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.login-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.login-input {
	margin-left: 20px;
}

.login-form-box {
	outline: 1px solid #076652;
	padding: 20px;
}

nav.login-signup {
	display: flex;
	align-items: center;
	padding-right: 50px;
	font-size: 18px;
}

#main-scoreboard {
	height: 400px;
	width: 600px;
	border: 1px solid green;
	margin: 0 auto;
	border-radius: 10px;
	color: green;
}

#main-scoreboard > h3 {
	font-size: 36px;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	border-bottom: 1px solid green;
}

/*.player-names {
	float: left;
	display: flex;
}*/

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #076652;
	margin-left: 50px;
	margin-right: 50px;
}

header > h1 {
	margin-left: 50px;

}

hgroup {
	display: flex;
	justify-content: space-between;
	margin-left: 20px; 
	align-items: center;
}

.score-index > h1 {
	text-align: center;
}

.score-index-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score-index-item {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	width: 50%;
	box-shadow: 0px 0px 3px lightgray;
	border-radius: 3px;
	text-align: left;
	padding: 10px;
}

.score-index-item > li > h4 {
	font-size: 24px;
}

.header-name {
	margin-right: 20px;
}

.header-button {
	height: 15px;
	margin-right: 20px;
}
/*
.score-wrapper {

	margin: 50px;
	text-align: center;
	float: left;
	justify-content: space-between;
}*/

.index-redirect {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
}

.index-redirect > a {
	text-decoration: none;
	font-size: 20px;
}

.player-score {
	width: 50%;
	text-align: center;
	float: left;
	justify-content: space-between;

}

#scorekeep {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 112px;
	font-weight: 400;
	padding-left: 100px;
	padding-right: 100px;
	border: 1px solid green;
	border-radius: 10px;
}

.player-score > button {
  margin: 7px;
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
  background: white;
  color: green;
  font-weight: 700;
}

.player-score > button:hover {
	background: green;
	color: white;
}

.player-names > h4 {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-size: 26px;
}

.final-score {
	text-align: center;
	font-size: 24;
}

